.container {
  background-color: #1e293b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Bree Serif;
}
h1 {
  color: #f0bb03;
  font-size: 55px;
}
p {
  color: #ffffff;
  font-size: 20px;
}
button {
  height: 30px;
  border-radius: 8px;
  font-weight: bold;
}

@media (max-width: 576px) {
  .container {
    width: 250px;
  }
}
